body {
    background-color: rgb(43, 43, 43);
    font-family: 'Courier New', Courier, monospace;
}

#links {
    padding: 1em;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row-reverse;
    /* outline: red solid 1px; */
    border-bottom: 1px solid white ;
}

#links a {
    flex-grow: 0;
    text-align: center;
    /* outline: red solid 1px; */
    margin-left: 1.5em;
    color: white;
    text-decoration: none;

    
}

#page-content {
    width: 80%;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    background-color: rgb(82, 82, 82);
    padding: 2em;
    border-radius: 1em;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

